html {
  box-sizing: border-box;
}
*, *:before, *:after {
  	box-sizing: inherit;
  	margin: 0px;
	padding: 0px;
	/*border: 1px solid red;*/
}
html,body {
    height: 100%; 
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}



/*------------------overlay rules -------------*/
section.modal {
	/*display: none;*/
	height: 100%;
	width: 100%;
	/*position: absolute;*/
	z-index: 1000;
	background-image: url('../img/beige-paper.png');
	background-size: cover;
	/*background-color: rgb(55, 53, 30);*/
	overflow: hidden; 
}

/*--------------------------------------------------
			Rules Modal
----------------------------------------------------*/
section#rules{
	display: none;
	padding: 4% 0;

}

div.bg {
	padding: 2% 3em;
	background-color: rgb(195, 192, 164);
	vertical-align: middle;
	margin: auto;
	position: relative;
	width: 500px;
	border-radius: 13%;
}

.bg h1 {
	font-size: 3em;
}

.bg p {
	font-size: 1.2em;
	margin-bottom: 1em;
	color: rgb(55,55,47);
}

.bg a {
	padding: 5px 20px;
	border-radius: 13%;
	background-color: rgb(67, 67, 57);
	/*border: .3em solid rgb(229, 255, 241);*/
	color: rgb(220, 217, 185);
	text-decoration: none;
	box-shadow: 4px 4px 5px black;

}

/*---------------------------------------------------
					Counter Modal
-------------------------------------------------------*/
section#counter {
	text-align: center;
}

#counter h1 {
	color: white;
	width: 100%;
	height: 10%;
}

ul#answer {
	text-align: center;
	list-style: none;
}

#answer li {
	overflow: hidden;
	display: inline-block;
	border: 10px solid black;
	height: 50px;
	width: 40%;
	margin: 1em;
}

#counter a {
	
	/*clear: left;*/
	border: 10px solid black;
}


/*------------------Game Section -------------*/
/*gives picture and a black overlay*/
section#quiz {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
}
div.pic {
	height: 75%;
	width: 100%;
	background-image: url('../img/titanic_large.jpg');
	/*background-repeat: no-repeat;*/
	background-size: cover;
	/*background-position: center;*/
}

#overlay {
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	overflow: hidden; 
	padding: 5% 0;
}

/*styles for the question texts*/
#formatting {
	padding: 10% 0;
}

h1,
h2,
#formatting p,
#questions a {
	text-shadow: 4px 4px 4px black;
}

h1,
h2 {
	margin-top: .3em;
}


h1 {
	font-size: 2em;
	color: rgb(183, 174, 99);
}

h2 {
	font-size: 1em;
	font-weight: lighter;
	color: rgb(195, 192, 164);
}

p {
	font-size: 2em;
}

/*question buttons*/
div#quiz {
	height: 25%;
	width: 100%;
}

#questions {
	height: 100%
}

#questions li{
	padding: 5% 0;
	width: 25%;
	height: 100%;
	display: inline;
	float: left;

}

#questions a {
	padding: 10% 0em;
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}

.question1 {
	background-color: rgb(195, 192, 164);
}

.question2 {
	background-color: rgb(183, 174, 99);
}

.question3 {
	background-color: rgb(132, 126, 71);
}
.question4 {
	background-color: rgb(55, 53, 30);
}
